.cell-input {
    
    
    outline: 0;
    border:none;
    width:150px;
    overflow:hidden;
    resize:none;
    height:49px;
}
.cell-input:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    
  }
.cell {
    margin-left:-5px;
    width:150px;
    height:49px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell > * {
    background: none;
}
.cell-text {
    text-align: center;
}
